# Игнорирование файла
Readme.md
# Игнорирование папки
logs/
# Игнорирование файлов с определенным расширением 
*.txt 
# Игнорирование файлов с определенным расширением в папке 
/logs/*.txt
# Игнорирование файлов с определенным расширением, но с исключением
*.logs
!important.log 

